#list {
  display: flex;
  flex-wrap: wrap;
}

#list li {
  background: #ffffff;
  margin: 5px;
}

#list li:hover {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90px;
  height: 90px;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#description {
  display: none;
}
#description.show {
  display: block;
  position: fixed;
  width: 10%;
  height: auto;
  top: 20%;
  left: 0xp;
}
body {
  background: #192431;
}
h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  color: #d7b8f1;
  position: relative;
  text-align: right;
  margin-bottom: 15px;
}
